body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    color: darkblue;
}

#notFound, #result {
    display: none;
}

select, input {
    font-size: 30pt;
    padding: 20px;
    border: 0px;
    max-height: 85px;
}

#major {
    flex-grow: 1;
    border-radius: 10px 0 0 10px;
}

#major:foucus {
    outline-offset: -5px;
}

#search {
    width: 200px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

#search:hover {
    background-color: #0056b3;
}

.center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

h1, #datasrc {
    text-align: center;
}

ul, #notFound {
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}

ul {
    background-color: lightgreen;
    color:darkolivegreen;
}

#notFound {
    background-color: lightpink;
    color: darkred;
}

li {
    margin: 5px;
}
